<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script>jQuery.noConflict();</script>
        <script src="~/Scripts/prototype.js"></script>
        <script src="~/Scripts/string.js"></script>
        <script src="~/Scripts/todos_ui.js"></script>
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
