@{
    ViewBag.Title = "Features";
}

<h2>Features</h2>

<ul>
    <li>User can enter a todo item</li>
    <li>Newly entered item is added to running list of all items entered</li>
    <li>When a new item is entered the entire list is AJAX refreshed.</li>
    <li>Items are currently stored as viewstate - i.e. they are all round tripped on every request.  The server retains no knowledge of them.  In effect, this app can't save - it just turns a browser window into a scratch pad for todo items</li>
</ul>

<h2>Next Steps</h2>

<ul>
    <li></li>
</ul>
