@{
    ViewBag.Title = "Index";
}
<form>
    <div id="container-todos">&nbsp;</div>
    <h2>What do you need to do?</h2>
    <input type="text" id="input-todo" name="addTodo" class="not-visible" />
</form>
@section Scripts {
    <script>
        jQuery(document).ready(function () {
            ui = new TodosUI({
                addURL: '@Url.Action("Add")'
            });
        })
    </script>
}
